%br
%a{ :href => @form_url, :style => "display: block; margin: 0 auto; width: 300px; text-align: center; background-color: #cd3737;color: white; padding: 10px 20px; font-size: 36px; border-bottom: 3px solid transparent; text-decoration: none; font-weight:bold"} Tweet
%br
%br