%p Thank you.

%p We loved just meeting you at the show in #{@event}. And, thanks so much for signing up and taking a picture for equality.

%p
	Here is a link to your photo
	= link_to @facebook_photo, @facebook_photo

%p Thanks again,

%p
	Mike/Jeb/Hannah
	%br
	The Ally Coalition
