%h3 Signups
%ul
	- @signups.each do |signup|
		%li
			%strong
				#{signup.firstName} #{signup.lastName}
			- unless signup.photo_path.nil?
				%img{ :src => signup.photo_path }
			%br
			= ( link_to signup.email, 'mailto:'+signup.email rescue '')
			%br
			%pre= signup.to_json