%h1
	.top SNAP
	TIVIST

.description
	%p Is a mobile app that takes photos and sends them to members of Congress and your Facebook page.
	%p
		If you're interested in learning more
		= link_to 'you should signup and we\'ll be in touch', 'https://docs.google.com/forms/d/1sNabSshhmORJk0u_0GCFhxvn2odakWFynmf5IYk9o7M/viewform'
		\.
	%h3
		= link_to 'See it in action', 'http://www.youtube.com/watch?v=5egUrZISgTg', :target => '_blank'
		= link_to 'Give it a try', 'https://app.io/96hlJ9', :target => '_blank'
