%h1
	.top SNAP
	TIVIST

.description
	%p Is a mobile app that takes photos and sends them to members of Congress and your Facebook page.
	%p
		If you're interested in learning more
		= link_to 'you should signup and we\'ll be in touch', 'https://docs.google.com/forms/d/1sNabSshhmORJk0u_0GCFhxvn2odakWFynmf5IYk9o7M/viewform'
		\.
