%h1 All #{@type.pluralize}
.help= @disclaimer

%a{ :href => '#', :onclick => 'document.location = document.location.search == "" ?  document.location + \'?export\' : \'&export\'; return false', :style => 'text-align:right' }
	%h3 Export

.items
	- @items.each do |item|
		= render @type, :item => item

