.grid_1 {
  display: inline;
  float: left;
  margin: 0 10px;
  width: 60px;
}
.grid_2 {
  display: inline;
  float: left;
  margin: 0 10px;
  width: 140px;
}
.grid_3 {
  display: inline;
  float: left;
  margin: 0 10px;
  width: 220px;
}
.grid_4 {
  display: inline;
  float: left;
  margin: 0 10px;
  width: 300px;
}
.grid_5 {
  display: inline;
  float: left;
  margin: 0 10px;
  width: 380px;
}
.grid_6 {
  display: inline;
  float: left;
  margin: 0 10px;
  width: 460px;
}
.grid_7 {
  display: inline;
  float: left;
  margin: 0 10px;
  width: 540px;
}
.grid_8 {
  display: inline;
  float: left;
  margin: 0 10px;
  width: 620px;
}
.grid_8 {
  display: inline;
  float: left;
  margin: 0 10px;
  width: 620px;
}
.grid_9 {
  display: inline;
  float: left;
  margin: 0 10px;
  width: 700px;
}
.grid_10 {
  display: inline;
  float: left;
  margin: 0 10px;
  width: 780px;
}
.grid_11 {
  display: inline;
  float: left;
  margin: 0 10px;
  width: 860px;
}
.grid_12 {
  display: inline;
  float: left;
  margin: 0 10px;
  width: 940px;
}
