body.home
	#main
		background: transparent
		h1
			@include logo
			font-size: 200px
			text-align: center
			margin: 0

		.description
			width: 580px
			margin: 50px auto 0
			font-size: 11px
			text-align: center
